<head>
  <title>Rtis Server Bot</title>
  <link rel="stylesheet" href="https://w3css.blueobsidian.repl.co/w3css/w3.css">
</head>
<body>
<h1 class="w3-text-red">This Is The Rtis Official Minecraft 
 Bot</h1>
</body>